#### Use SCRIPT_FREQ_MIN to determine how often (in minutes) the script will execure. More frequent execution may lead to frequent resizing.
SCRIPT_FREQ_MIN=1

#### EXCLUDE_CLUSTERS is an array of strings, space delimited.
EXCLUDE_CLUSTERS=(cluster1 cluster2)

#### Use the below values to set the min and max node count of worker nodes.
MAX_NODE_COUNT=3
MIN_NODE_COUNT=1

#### Use the below % values to set the high and low average CPU and MEM watermark of worker nodes before resizing kicks in to adjust the load.
### WIP
MIN_AVAIL_CPU_PERCENTAGE=20
MIN_AVAIL_MEM_PERCENTAGE=30


SUPERVISOR_NAMESPACE="dev"
WORKLOAD_CLUSTER="app1"

SUPERVISOR_ENDPOINT="192.168.220.3"
SUPERVISOR_SA_TOKEN="eyJhbGciOiJSUzI1NiIsImtpZCI6Ikw5aDF4Xy1fT3A5eVJLQkUybWRHMHd0ZmRHbk5rWkltTmNuOGxST092ODAifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJkZXYiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoiYXV0b3NjYWxlci1zYS10b2tlbi1iejV4cCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJhdXRvc2NhbGVyLXNhIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiOTE5YTQwYjMtMWNmOS00MmNiLWIyMjUtZWU2Y2E5NzZiYzcyIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50OmRldjphdXRvc2NhbGVyLXNhIn0.CAWip0xflHDPdTL0B-GIy7f5_ak9MA8YSM6VVzOXS2YuwV8nDwlI7FWILkAiyjpqWPwh-M_G0b3BwhmpvCepIW6jng7U1ieLQFyakksoePSNm5N_EwAQa_mk7gImaAF5xY-5g_P78DcYn9q93givQSOlVdWudMAhWYZZ46uw4IcNknnTj_jfTTDHE-IswopX77Lkx2IpRnl2o3t69bBqfndi_rUX4Cm9aECc7ez1hUMGORvJE_xMARNfs2cnc4D_KU8bydq5jwDQo--FBb1sALKRspbKzj8Wu6DNMxn7ZeIKqA0AsWrIQr0XYlA3T2bQl9UOndqq1Wgh84gtHoVRrA"
